<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="bookCopy">
                <h2 class="jh-entity-heading"><span v-text="$t('jugthdeApp.bookCopy.detail.title')">BookCopy</span> {{bookCopy.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('jugthdeApp.bookCopy.signature')">Signature</span>
                    </dt>
                    <dd>
                        <span>{{bookCopy.signature}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('jugthdeApp.bookCopy.title')">Title</span>
                    </dt>
                    <dd>
                        <span>{{bookCopy.title}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="bookCopy.id" :to="{name: 'BookCopyEdit', params: {bookCopyId: bookCopy.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./book-copy-details.component.ts">
</script>
