<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('jugthdeApp.bookCopy.home.title')" id="book-copy-heading">Book Copies</span>
            <router-link :to="{name: 'BookCopyCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-book-copy">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('jugthdeApp.bookCopy.home.createLabel')">
                    Create a new Book Copy
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && bookCopies && bookCopies.length === 0">
            <span v-text="$t('jugthdeApp.bookCopy.home.notFound')">No bookCopies found</span>
        </div>
        <div class="table-responsive" v-if="bookCopies && bookCopies.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('jugthdeApp.bookCopy.signature')">Signature</span></th>
                    <th><span v-text="$t('jugthdeApp.bookCopy.title')">Title</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="bookCopy in bookCopies"
                    :key="bookCopy.id">
                    <td>
                        <router-link :to="{name: 'BookCopyView', params: {bookCopyId: bookCopy.id}}">{{bookCopy.id}}</router-link>
                    </td>
                    <td>{{bookCopy.signature}}</td>
                    <td>{{bookCopy.title}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'BookCopyView', params: {bookCopyId: bookCopy.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'BookCopyEdit', params: {bookCopyId: bookCopy.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(bookCopy)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="jugthdeApp.bookCopy.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-bookCopy-heading" v-bind:title="$t('jugthdeApp.bookCopy.delete.question')">Are you sure you want to delete this Book Copy?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-bookCopy" v-text="$t('entity.action.delete')" v-on:click="removeBookCopy()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./book-copy.component.ts">
</script>
